#product__section {
  width: 100%;
  height: 100%;
  margin: 3rem 0;
}
#product__section .card{
  border: none;
  width: 100%;
}
#product__section a button {
  border: none;
  padding: 12px 24px;
  margin-bottom: 2rem;
  background-color: rgb(208, 152, 13, 0.8);
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  transition: 0.4s all ease-in-out;
}
#product__section a button:hover {
  color: rgb(208, 152, 13, 0.8);
  background-color: black;
}
#product__section img{
  transition: ease-in-out 0.2s;
}
#product__section img:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
}

