
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.underline {
  width: 85%;
  height: 2px;
  background-color: rgb(208, 152, 13);
  
}
.heading {
  color: darkslategray;
  font-family:'Kaushan Script', cursive ;
  font-weight: 800;
}
body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  padding: 15px;
  /* outline: 1px solid slategrey; */
  border-radius: 20px;
}
